In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [103]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')
os.chdir("/content/drive/My Drive/Colab Notebooks/Electronic_Store")
sys.path.append("/content/drive/My Drive/Colab Notebooks/Electronic_Store")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
dataset = pd.read_csv("mytable.csv")

In [105]:
dataset['Product']=dataset['Product'].astype('category')

In [106]:
dataset['Product_category']=dataset['Product'].cat.codes

In [107]:
dataset['name']=dataset['name'].astype('category')

In [108]:
dataset['name_category']=dataset['name'].cat.codes

In [109]:
dataset

,name,age,gender,employability,salary,purchased,Product,Product_category,name_category
0,anu,18,F,student,20000,NO,iPhone,6,72
1,manu,20,M,student,25000,NO,MacBook Pro,4,81
2,sinu,35,F,employee,30000,YES,Flatscreen TV,2,95
3,anju,20,F,student,10000,NO,Apple Airpods,1,69
4,rahul,40,M,employee,50000,YES,AC,0,88
...,...,...,...,...,...,...,...,...,...
95,Mary,19,F,student,27000,NO,AC,0,28
96,Malu,19,F,student,12000,NO,LG Washing Machine,3,26
97,Neymar,20,M,student,5000,NO,Monitor,5,35
98,Alshin,24,M,employee,70000,NO,iPhone,6,2
99,Akash,24,M,employee,55000,NO,MacBook Pro,4,0

In [110]:
x = dataset[['salary','Product_category']]
x

    salary  Product_category
0    20000                 6
1    25000                 4
2    30000                 2
3    10000                 1
4    50000                 0
..     ...               ...
95   27000                 0
96   12000                 3
97    5000                 5
98   70000                 6
99   55000                 4

[100 rows x 2 columns]

In [111]:
y = dataset['purchased']
y

0      NO
1      NO
2     YES
3      NO
4     YES
     ...
95     NO
96     NO
97     NO
98     NO
99     NO
Name: purchased, Length: 100, dtype: object

In [112]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y,test_size=0.3, random_state=0)

In [113]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train=st_x.fit_transform(x_train)   
x_test= st_x.transform(x_test)

In [114]:
x_test

array([[ 0.9960212 , -0.00665058],
       [-0.53887471, -0.47219096],
       [-0.21329073, -0.47219096],
       [-0.58538671,  0.9244302 ],
       [ 1.74021316, -0.00665058],
       [-0.53887471, -0.47219096],
       [-0.58538671, -0.47219096],
       [-0.53887471, -0.93773135],
       [-0.44585072, -0.00665058],
       [-0.35282672, -1.40327174],
       [-0.63189871, -1.40327174],
       [-0.7249227 ,  0.45888981],
       [-1.37609067,  0.45888981],
       [ 0.48438923,  0.9244302 ],
       [ 1.27509319,  1.38997058],
       [-0.63189871, -0.47219096],
       [-0.12026674,  0.45888981],
       [-1.05050669, -0.93773135],
       [-0.58538671, -0.00665058],
       [-1.14353068,  0.45888981],
       [-0.58538671,  0.45888981],
       [-0.7249227 ,  0.9244302 ],
       [-1.14353068, -0.93773135],
       [-0.49236272,  0.45888981],
       [-0.7249227 , -0.93773135],
       [-0.12026674,  0.9244302 ],
       [ 3.0425491 ,  0.9244302 ],
       [ 0.94950921,  0.45888981],
       [-0.25980273, -0.00665058],
       [-1.25981068,  0.9244302 ]])

In [115]:
y_test

26    YES
86    YES
2     YES
55    YES
75    YES
93    YES
16    YES
73     NO
54    YES
95     NO
53     NO
92     NO
78     NO
13    YES
7      NO
30    YES
22     NO
24     NO
33    YES
8      NO
43     NO
62    YES
3      NO
71     NO
45     NO
48    YES
6     YES
99     NO
82    YES
76     NO
Name: purchased, dtype: object

In [116]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [117]:
y_pred = classifier.predict(x_test)

In [118]:
y_pred

array(['YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO'], dtype=object)

In [119]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[13  2]
 [12  3]]

In [120]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.5333333333333333

In [121]:
data = st_x.transform([[20000,6]])
pred = classifier.predict(data)
print(pred)

['NO']

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [122]:
import pickle

In [123]:
with open('model_product',"wb") as files:
  pickle.dump(classifier,files)

In [124]:
with open ('scaler',"wb") as files:
 pickle.dump(st_x,files)